@import url("https://fonts.googleapis.com/css?family=Playfair+Display:800,500,400,600,italic|Poppins:500");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu-mobile, #header-mobile {
    display: none !important;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(154deg, #A18D50 11.28%, #615B49 43.93%, #515B8B 83.83%);
    font-family: "Playfair Display", serif;

    display: grid;
    align-content: space-between;

    min-height: 100vh;
    overflow-y: auto;
}

header {
    width: 100vw;
    height: 85px;
    background-color: #262E5D;
    border-radius: 0px 0px 30px 30px;
}

#menu-desktop{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


#menu-desktop ul {
    width: 100%;
    display: flex;
}

#menu-desktop ul li {
    list-style-type: none;
    padding: 20px;
    font-family: Poppins;
}

#menu-desktop ul li i {
    color: #E61C62;
    font-size: 1.5rem;
}

.logo {
    margin: auto;
    color: #FFFFFF;
    line-height: 18px;
    font-size: 2rem;

}

#menu-desktop ul li a {
    color: #E61C62;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    display: flex;
}

#menu-desktop ul li a:hover {
    color: #A18D50;
}

.icones a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plinks {
    padding: 5px;
    font-size: 0.7rem;
    font-family: Poppins;
}

#menu-desktop ul li span.plinks{
    display: none;
}

#menu-desktop ul li:hover span.plinks{
    display: block;
    color: #A18D50;
    position: absolute;
    top: 20px;
    transform: scale(1.2);
}

#menu-desktop ul li:hover i {
    color: #A18D50;
    transform: scale(1.2);
}

.usuario{
    display: flex;
    justify-content: end;
}

main {
    margin-top: 27px;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

section {
    margin: auto;
    width: 100%;
    max-width: 1065px;
    height: 524px;
    padding: 1rem;
    border-radius: 30px;
    background: #F2F2F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    z-index: -1;
}

footer {
    width: 100vw;
    height: 85px;
    background-color: #262E5D;
    border-radius: 30px 30px 0px 0px;
    text-align: center;

    z-index: -1;
}

footer p {
    padding: 15px;
    color:  #E61C62;
    font-family: Poppins;
}

@media screen and (min-width:300px ) and ( max-width: 425px) {

    body {
        overflow-y: auto;
    }

    section {
        max-width: 300px;
        height: auto;
    }

    footer {
        background: none;
    }

    footer p {
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #303136;
        font-size: 1rem;
    }

    #menu-desktop {
        display: none;
     }
}

@media screen and (min-width:426px ) and ( max-width: 768px) {

    section {
        max-width: 450px;
        height: auto;
    }

    footer {
        background: none;
    }

    footer p {
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #303136;
        font-size: 1rem;
    }

    #menu-desktop {
       display: none;
    }
}

@media screen and (min-width:769px ) and ( max-width: 992px) {
    section {
        max-width: 600px;
        height: auto;
    }
}

@media screen and (min-width:993px ) and ( max-width: 1024px) {
    section {
        max-width: 800px;
        height: auto;
    }
}

/* Media criado para menu mobile */
@media screen and (max-width: 768px) {
    /* Parte menu MOBILE */

    header {
        background-color: none;
    }

    #header-mobile {
        width: 100%;
        height: 100%;
        align-items: center;
        grid-template-columns: 1fr 1fr;
        padding-inline: 35px;
        display: none;

        color: #fff;
    }

    #menu-hamburguer {
        width: fit-content;
        justify-self: end
    }

    #menu-hamburguer:active {
        scale: 0.95;
    }

    #menu-mobile {
        transition: .5s;

        z-index: 2;
        position: fixed;
        right: -286px;
        top: 0;
        height: 100vh;
        min-width: 286px;
        background-color: #fff;
        border-radius: 30px 0 0 30px;

        padding: 1%;
        grid-template-rows: 55px auto 35px;

        display: none;

        a {
            -webkit-tap-highlight-color: transparent;
        }
    }

    #close-button {
        width: 40px;
    }

    .top-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-inline: 15px;
    }

    .top-header img:active {
        scale: 0.85;
    }

    .lista-menu-mobile {
        display: flex;
        flex-direction: column;
        margin-top: 70px;

        gap: 10px;
    }

    .lista-menu-mobile a {
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        border-radius: 12px;
        transition: 150ms;
        padding: 3%;
        text-decoration: none;
        color: #E61C62;

        display: flex;
        justify-content: space-between;
        align-items: center;

        i {
            font-size: clamp(25px, 5vw, 35px);
            width: 40px;
            text-align: center;
        }

        span {
            color: #E61C62;
            font-family: Poppins;
            font-size: clamp(18px, 5vw, 24px);
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 91.667% */
        }
    }

    .lista-menu-mobile a:active {
        scale: 0.95;
    }

    #nome_cliente-menu {
        color: #E61C62;
        text-align: center;
        font-family: Poppins;
        font-size: 30px;
        font-weight: 600;
        line-height: 22px; /* 73.333% */
    }

    #menu-mobile, #header-mobile {
        display: grid !important;
    }
}