@import url("https://fonts.googleapis.com/css?family=Playfair+Display:800,500,400,600,italic|Poppins:500");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(154deg, #A18D50 11.28%, #615B49 43.93%, #515B8B 83.83%);
    filter: blur(0.5px);
    font-family: "Playfair Display", serif;
}

header {
    width: 100vw;
    height: 85px;
    background-color: #262E5D;
    border-radius: 0px 0px 30px 30px;
}

nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}


nav ul {
    width: 100%;
    display: flex;
}

nav ul li {
    list-style-type: none;
    padding: 20px;
    font-family: Poppins;
}

nav ul li i {
    color: #E61C62;
    font-size: 1.5rem;
}

.logo {
    margin: auto;
    color: #FFFFFF;
    line-height: 18px;
    font-size: 2rem;

}

nav ul li a {
    color: #E61C62;
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    display: flex;
}

.icones a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.plinks {
    padding: 5px;
    font-size: 0.7rem;
    font-family: Poppins;
}

nav ul li span.plinks{
    display: none;
}

nav ul li:hover span.plinks{
    display: block;
    color: #A18D50;
    position: absolute;
    top: 20px;
    transform: scale(1.2);
}

nav ul li:hover i {
    color: #A18D50;
    transform: scale(1.2);
}

.usuario{
    display: flex;
    justify-content: end;
}

main {
    margin-top: 27px;
    margin-bottom: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section {
    display: flex;
    margin: auto;
    width: 100%;
    max-width: 1065px;
    height: 524px;
    padding: 1rem;
    border-radius: 30px;
    background: rgba(254, 253, 253, 0.50);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    align-items: center;
}
.recagen {
    width: 323px;
    height: 127px;
    border-radius: 30px;
    background: #515B8B;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    position:relative;
    bottom: 10vw;
    left:12vw;
    padding:22px;
}
.recagen p{
    width: 40.7px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Playfair Display';
    color: #a18d50;
    height: 41px;
}
.recagen h3 {
    width: 434px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    font-family: Poppins;
    color: #18191a;
    top:3vw;
    right:2.5vw;
    height: 45.3px;
    text-wrap:nowrap;
}
.observacoes {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    background-color: #fff;
    height: 137px;
    width:550px;
    display: flex;
    padding:22px;
    position:relative;
    top:10vw;
    right:13vw;
}
.observacoes h3 {
    text-wrap:nowrap;
    font-size: 20px;
    font-weight: 600;
    font-family: Poppins;
    color: #a18d50;
    height: 49.3px;
}
.observacoes .obs {
    font-family: Poppins;
    color: #303136;
    text-wrap:nowrap;
    position:relative;
    top:3vw;
    right:10vw;
}
.calendario {
    border-radius: 30px;
    background-color: rgba(217, 217, 217, 0);
    border: 0.5px solid #303136;
    height: 312px;
    width: 378px;
    position:relative;
    bottom:2.5vw;
    right:11vw;
}
.calendario h2 {
    width: 378px;
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-family: Poppins;
    color: #303136;
    height: 22px;
    padding: 1.5vw;
    display: inline-block;
}
.datatabela {
    width: 378px;
    margin-top:1.5vw;
}
.calendario th {
    width: 30px;
    font-family: Poppins;
    color: #a18d50;
    height:30px;
    font-size: 20px;
}
.calendario td {
    width: 30px;
    font-size: 18px;
    font-family: Poppins;
    color: #615b49;
    height: 30px;
    padding:.8vw 1vw 0 1vw;
}
.calendario .hoje {
    border-radius: 50%;
    background: #e61c62;
    mix-blend-mode: darken;
    padding:1vw;
}
footer {
    width: 100vw;
    height: 85px;
    background-color: #262E5D;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
}

footer p {
    padding: 15px;
    color:  #E61C62;
    font-family: Poppins;
}

@media screen and (max-width: 425px) {

    body {
        overflow-y: auto;
    }

    section {
        max-width: 365px;
        height: auto;
    }

    footer {
        background: none;
    }

    footer p {
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #303136;
        font-size: 1rem;
    }
}

@media screen and (min-width:426px ) and ( max-width: 768px) {

    section {
        max-width: 600px;
        height: auto;
    }

    footer {
        background: none;
    }

    footer p {
        -webkit-text-stroke-width: 1;
        -webkit-text-stroke-color: #303136;
        font-size: 1rem;
    }
}